<html>
<head>
	<title>wist &mdash; Wifi Status</title>
    <script src="/highcharts.js"></script>
    <script src="/highcharts-more.js"></script>
    <script src="/highcharts-solid-gauge.js"></script>
	<script src="/lodash.min.js"></script>
	<style>
		.row { display: flex; }
		.cell { position: relative; width:25vw; }
		table { width: 100%; border-collapse: collapse; }
		table td, table th { margin: 0; text-align: center; }
		table th { text-decoration: underline; }
		p { margin-bottom: 0; }
		p + p { margin-top: 0; }
        .sp { display: flex; align-items: center; }
        .sp div { flex: 1; }
	</style>
</head>
<body>
	<h1>Wifi Status</h1>
	<h2>{{.IWConfig.SSID}} ({{.IWConfig.Frequency}})</h2>
	<div class="row">
		<div class="cell">
			<div id="container-signal"></div>
		</div>
		<div class="cell">
            <div id="container-level"></div>
		</div>
		<div class="cell">
            <div id="container-noise"></div>
		</div>
		<div class="cell">
            <div id="container-bitrate"></div>
		</div>
	</div>
	<div class="row">
	</div>
	<div class="row">
		<div class="cell">
			<h2>Discarded Packets</h2>
			<p>nwid: <span id="nwid">{{.PacketNWID}}</span></p>
			<p>crypt: <span id="crypt">{{.PacketCrypt}}</span></p>
			<p>frag: <span id="frag">{{.PacketFrag}}</span></p>
			<p>retry: <span id="retry">{{.PacketRetry}}</span></p>
			<p>misc: <span id="misc">{{.PacketMisc}}</span></p>
		</div>
		<div class="cell">
			<h2>Connected Devices</h2>
			<table>
				<thead>
					<tr>
						<th>Mac</th>
						<th>IP</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody id="clients">
					{{range .Clients}}
					<tr>
						<td>{{.Mac}}</td>
						<td>{{.IP}}</td>
						<td>{{.Name}}</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
        <div class="cell">
		</div>
		<div class="cell sp">
            <div id="container-cpu"></div>
            <div id="container-mem"></div>
		</div>
	</div>
	<script>
	<!--
		var gaugeOptions = {
			chart: {
				type: 'solidgauge'
			},
			title: null,
            credits: {
                enabled: false
            },
			pane: {
				center: ['50%', '50%'],
				size: '100%',
				startAngle: -90,
				endAngle: 90,
				background: {
					backgroundColor: '#f7f7f7',
					innerRadius: '60%',
					outerRadius: '100%',
					shape: 'arc'
				}
			},
			tooltip: {
				enabled: false
			},
			yAxis: {
				stops: [
					[0.3, '#DF5353'], // green
					[0.5, '#DDDF0D'], // yellow
					[0.9, '#55BF3B'] // red
				],
				lineWidth: 0,
				minorTickInterval: null,
				tickAmount: 2,
				title: {
					y: 10
				},
				labels: {
					y: 16
				}
			},
			plotOptions: {
				solidgauge: {
					dataLabels: {
						y: 5,
						borderWidth: 0,
						useHTML: true
					}
				}
			}
		};

		var lineOptions = {
            chart: {
                type: 'spline',
                zoomType: 'x'
            },
            tooltip: {
                style: 'display:hidden',
                enabled: false
            },
            yAxis: {
                allowDecimals: false,
                title: {
                    text: null
                }
            },
            xAxis: {
                labels: {
					enabled: false
				}
            },
            credits: {
                enabled: false
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                spline: {
                    marker: {
                        enabled: false
                    },
                    states: {
                        hover: {
                            enabled: false
                        }
					}
                }
            }
        };

		var sparkOptions = {
            chart: {
                backgroundColor: null,
                borderWidth: 0,
                type: 'area',
                margin: [2, 0, 2, 0],
                width: 120,
                height: 20,
                style: {
                    overflow: 'visible'
                },

                // small optimalization, saves 1-2 ms each sparkline
                skipClone: true
            },
            title: {
                text: ''
            },
            credits: {
                enabled: false
            },
            xAxis: {
                labels: {
                    enabled: false
                },
                title: {
                    text: null
                },
                startOnTick: false,
                endOnTick: false,
                tickPositions: []
            },
            yAxis: {
                endOnTick: false,
                startOnTick: false,
                labels: {
                    enabled: false
                },
                title: {
                    text: null
                },
                tickPositions: [0]
            },
            legend: {
                enabled: false
            },
            tooltip: {
                enabled: false
            },
            plotOptions: {
                series: {
                    animation: false,
                    lineWidth: 1,
                    shadow: false,
                    states: {
                        hover: {
                            enabled: false
                        }
                    },
                    marker: {
						enabled: false
                    },
                    fillOpacity: 0.25
                },
                column: {
                    negativeColor: '#910000',
                    borderColor: 'silver'
                }
            }
        };

		window.onload = function() {
            window.chartSignal = Highcharts.chart('container-signal', Highcharts.merge(gaugeOptions, {
                yAxis: {
                    min: 0,
                    max: 70,
                    title: {
                        text: 'Signal Strength'
                    }
                },
                series: [{
                    name: 'Signal Strength',
                    data: [{{.Signal}}],
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:black">{y}</span></div>'
                    },
                }]
            }));

            window.chartLevel = Highcharts.chart('container-level', Highcharts.merge(lineOptions, {
                title: {
                    text: 'Signal Level'
                },
                series: [{
                    name: 'Level',
                    data: {{.Level}}
                }]
            }));

            window.chartNoise = Highcharts.chart('container-noise', Highcharts.merge(lineOptions, {
                title: {
                    text: 'Signal Noise'
                },
                series: [{
                    name: 'Noise',
                    data: {{.Noise}}
                }]
            }));

            window.chartBitRate = Highcharts.chart('container-bitrate', Highcharts.merge(lineOptions, {
                title: {
                    text: 'Bit Rate'
                },
                subtitle: {
                    text: 'mb/s'
                },
                series: [{
                    name: 'Bit Rate',
                    data: {{.BitRate}}
                }]
            }));

            var cpuPercent = _.round(_.last({{.CPU}}), 2)
            var memPercent = _.round(_.last({{.Memory}}), 2)
            window.chartCpu = Highcharts.chart('container-cpu', Highcharts.merge(sparkOptions, {
                title: {
                    text: 'CPU'
                },
                subtitle: {
                    text: cpuPercent + '%'
                },
                series: [{
                    name: 'CPU',
                    data: {{.CPU}}
                }]
            }));

            window.chartMemory = Highcharts.chart('container-mem', Highcharts.merge(sparkOptions, {
                title: {
                    text: 'Memory'
                },
                subtitle: {
                    text: memPercent + '%'
                },
                series: [{
                    name: 'Memory',
                    data: {{.Memory}}
                }]
            }));
		};

		var conn = new WebSocket("ws://{{.Host}}/data");
		conn.onmessage = function(evt) {
			var json = JSON.parse(evt.data);
			console.log('json data', json);

			if(json && json.signal) {
                var point = window.chartSignal.series[0].points[0];
                point.update(json.signal);
			}

			if(json && json.level) {
                window.chartLevel.series[0].setData(json.level);
			}
			if(json && json.noise) {
                window.chartNoise.series[0].setData(json.noise);
			}
			if(json && json.bitrate) {
                window.chartBitRate.series[0].setData(json.bitrate);
			}

			if(json && json.nwid) {
				document.getElementById("nwid").innerText = json.nwid;
			}
			if(json && json.crypt) {
				document.getElementById("crypt").innerText = json.crypt;
			}
			if(json && json.frag) {
				document.getElementById("frag").innerText = json.frag;
			}
			if(json && json.retry) {
				document.getElementById("retry").innerText = json.retry;
			}
			if(json && json.misc) {
				document.getElementById("misc").innerText = json.misc;
			}

			if(json && json.clients) {
			    var rows = _.map(json.clients, function(r) {
			        return "<tr><td>" + r.Mac + "</td><td>" + r.IP + "</td><td>" + r.Name + "</td></tr>";
				}).join("\n");
				document.getElementById("clients").innerHTML = rows;
			}

            if(json && json.cpu) {
                window.chartCpu.series[0].setData(json.cpu);
                var util = _.round(_.last(json.cpu), 2)
                window.chartCpu.setSubtitle({text: util + '%'});
            }
            if(json && json.memory) {
                window.chartMemory.series[0].setData(json.memory);
                var util = _.round(_.last(json.memory), 2)
                window.chartMemory.setSubtitle({text: util + '%'});
            }
		}
		//-->
	</script>
</body>
</html>
